
<!-- Footer -->
<footer class="page-footer font-small bg-light darken-3 border-top pt-1 fixed-bottom">

    <!-- Footer Elements -->
    <div class="container text-center pt-3">
        <!-- Facebook -->
        <a class="btn fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mx-2 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a class="btn git-ic">
            <i class="fab fa-github fa-lg white-text mx-2 fa-2x"> </i>
        </a>

        <!--Linkedin -->
        <a class="btn li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mx-2 fa-2x"> </i>
        </a>
    </div>
    <!-- Footer Elements -->

    <div class="footer-copyright text-center py-3">© 2020 No Copyright</div>
</footer>
<!-- ./Footer -->